@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,800&display=swap');

/*.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;*/


*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    width: 100%;
}

.contact{
    height: 60vh;
    background-image: url('./images/contactbg.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    color: whitesmoke;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.text h2{
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
}

.text p{
    font-size: 1.2em;
    text-align: center;
}

.text1{
    color: black;
}

.text1 h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3em;
    padding-bottom: 30px;
}

.text1 p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    margin: 2px;
    padding-bottom: 30px;
}

.text2{
    color: black;
}

.text2 h4{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 20px;
    font-size: 1.5em;
    
}

.text2 p{
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0em;
    margin: 2px;
}


.form2{
    padding-bottom: 60px;
}

.bt{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.bt:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px black;
}

.imgflex{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.imgflex img{
    max-width: 100%;
    height: auto;
    flex: 0 0 auto;
}
